
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="frontend/assets/imgs/homeslika.png" alt="..." /></div>
                <div class="col-lg-5">
                    <center><h1 class="font-weight-light">ONLINE CLOTHES STORE</h1></center>
                    <p>
             <center>
                           Welcome to Online Clothes Store, your go-to destination for trendy, affordable, and high-quality fashion.
Discover a wide range of styles — from everyday essentials to the latest seasonal collections.
Whether you're looking for casual wear, elegant outfits, or accessories to complete your look,
we’ve got something for everyone. Shop easily, securely, and in style — all from the comfort of your home.
             </center>
                    </p>
                   <center> <a class="btn btn-primary" href="#products">SHOP NOW</a></center>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white  my-5 py-4 text-center" style="background-color: #0d6efd;">
                <div class="card-body" ><p class="text-white m-0" >
                    <i>Refresh your wardrobe with our latest arrivals — premium comfort and modern design in every piece.</i></p></div>
            </div>
            <!-- Content Row-->
<div class="row gx-4 gx-lg-5 text-center">
  <div class="col-md-4 mb-5">
    <div class="card home-card man">
      <div class="overlay">
        <h2 class="card-title">MAN</h2>
        <a class="btn btn-primary btn-sm" href="#man">More Info</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-5">
    <div class="card home-card woman">
      <div class="overlay">
        <h2 class="card-title">WOMAN</h2>
        <a class="btn btn-primary btn-sm" href="#woman">More Info</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-5">
    <div class="card home-card kids">
      <div class="overlay">
        <h2 class="card-title">KIDS</h2>
        <a class="btn btn-primary btn-sm" href="#kids">More Info</a>
      </div>
    </div>
  </div>
</div>

        </div>