<br>
<center><H1><i>PRODUCTS</i></H1></center><hr>

<div class="card-group">
  <div class="card">
    <img src="frontend/assets/imgs/tech.jpg" class="card-img-top" alt="Nike Tech flece">
    <div class="card-body">
      <h5 class="card-title">Nike TechFleece</h5>
      <p class="card-text">250$</p>
            <hr> <center> <button type="button" class="btn btn-primary btn-sm" style="border-radius: 18px;" >
        <a href="#cart" style="color: white; text-decoration: none;">
        Add to cart</a>
    </div>
  </div>
  <div class="card">
    <img src="frontend/assets/imgs/jordanhoodie.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jordan Hoodie</h5>
      <p class="card-text">130$</p>
      <hr> <center> <button type="button" class="btn btn-primary btn-sm" style="border-radius: 18px;" >
        <a href="#cart" style="color: white; text-decoration: none;">
        Add to cart</a>
    </div>
  </div>
  <div class="card">
    <img src="frontend/assets/imgs/adidasduksa.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adidas Hoodie</h5>
      <p class="card-text">75$</p>
      <hr> <center> <button type="button" class="btn btn-primary btn-sm" style="border-radius: 18px;" >
        <a href="#cart" style="color: white; text-decoration: none;">
        Add to cart</a>
    </button></center>
    </div>
  </div>
  <br>
</div>
<br>
<div class="card-group">
  <div class="card">
    <img src="frontend/assets/imgs/woman1.jpg" class="card-img-top" alt="Nike Tech flece">
    <div class="card-body">
      <h5 class="card-title">Nike TechFleece</h5>
      <p class="card-text">250$</p>
            <hr> <center> <button type="button" class="btn btn-primary btn-sm" style="border-radius: 18px;" >
        <a href="#cart" style="color: white; text-decoration: none;">
        Add to cart</a>
    </div>
  </div>
  <div class="card">
    <img src="frontend/assets/imgs/woman2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jordan Hoodie</h5>
      <p class="card-text">130$</p>
      <hr> <center> <button type="button" class="btn btn-primary btn-sm" style="border-radius: 18px;" >
        <a href="#cart" style="color: white; text-decoration: none;">
        Add to cart</a>
    </div>
  </div>
  <div class="card">
    <img src="frontend/assets/imgs/woman3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adidas Hoodie</h5>
      <p class="card-text">75$</p>
      <hr> <center> <button type="button" class="btn btn-primary btn-sm" style="border-radius: 18px;" >
        <a href="#cart" style="color: white; text-decoration: none;">
        Add to cart</a>
    </button></center>
    </div>
  </div>
</div>
<br>
<div class="card-group">
  <div class="card">
    <img src="frontend/assets/imgs/kids1.jpg" class="card-img-top" alt="Nike Tech flece">
    <div class="card-body">
      <h5 class="card-title">Nike TechFleece</h5>
      <p class="card-text">250$</p>
            <hr> <center> <button type="button" class="btn btn-primary btn-sm" style="border-radius: 18px;" >
        <a href="#cart" style="color: white; text-decoration: none;">
        Add to cart</a>
    </div>
  </div>
  <div class="card">
    <img src="frontend/assets/imgs/kids2.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jordan Hoodie</h5>
      <p class="card-text">130$</p>
      <hr> <center> <button type="button" class="btn btn-primary btn-sm" style="border-radius: 18px;" >
        <a href="#cart" style="color: white; text-decoration: none;">
        Add to cart</a>
    </div>
  </div>
  <div class="card">
    <img src="frontend/assets/imgs/kids3.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Adidas Hoodie</h5>
      <p class="card-text">75$</p>
      <hr> <center> <button type="button" class="btn btn-primary btn-sm" style="border-radius: 18px;" >
        <a href="#cart" style="color: white; text-decoration: none;">
        Add to cart</a>
    </button></center>
    </div>
  </div>
</div>