<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="assets/imgs/login.png" class="img-fluid" alt="Sample image" />
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form id="register-form" novalidate>
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">REGISTER</p>
          </div>

          <div class="form-outline mb-4">
            <input
              type="email"
              id="register-email"
              name="email"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
              required
            />

          </div>

          <div class="form-outline mb-3">
            <input
              type="password"
              id="register-password"
              name="password"
              class="form-control form-control-lg"
              placeholder="Enter password"
              required
              minlength="6"
              maxlength="64"
            />

          </div>

          <div class="form-outline mb-3">
            <input
              type="password"
              id="register-password-repeat"
              name="password_repeat"
              class="form-control form-control-lg"
              placeholder="Enter password again"
              required
              minlength="6"
              maxlength="64"
            />

          </div>


          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              id="register-btn"
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">
              Register
            </button>

            <p class="small fw-bold mt-2 pt-1 mb-0">
              Already have an account?
              <a href="#login" class="link-danger">Login</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
